@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Questrial&display=swap");

$font-body: "Questrial", sans-serif;
$font-headings: "Playfair Display", serif;

$white: #ffffff;
$light-gray: #d8d8d8;
$black: #0b1829;
$dark-blue: #003170;
$gray-blue: #30496a;
$light-blue1: #a7bedb;
$light-blue2: #b6cdea;
$light-blue3: #d1e2f9;
